:root {
	--indent: 125px;
	--mobile-indent: 30px;
	--font-unit: 1vw;
	--active-color: #f5a63c;
}

html {
	scrollbar-color:#00aeee white;
	scrollbar-width: auto;

}

body {
	background-color: #F6F8FF;
	font-family: Arial;
	display: flex;
	min-height: 100vh;
	margin: 0;
	flex-direction: column;
}