.footer {
	text-align: center;
	font-size: calc(1.2*var(--font-unit));
	font-weight: 600;
	line-height: var(--font-unit);
	height: 25px;   
	margin-top: auto;
}

.footer-icons {
	font-size: calc(1.2*var(--font-unit));
	color: #ec1848;
}

.footer-text {
	color: #10779c;
}