.header {
	width: 100%;
	height: 60px;
	position: fixed;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	background: #ffffff;
	top: 0;
	left: 0;
	z-index: 999;
	box-shadow: 0px 4px 0px #BEBEBD;
}

.header-logo-section {
	width: 15%;
	margin-left: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-search-section {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-search-wrp {
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	height: 60%; 
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.control-search {
	height: 90%;
	width: 90%;
	border: none; 	
	padding-left: 20px;
}

.control-search:focus {
	border: 1px solid #8688BA; 	
}


.control-search:focus-visible, :active, :hover, :focus {
		outline: 0;
		outline-offset: 0;
}

.btn-search {
	border: 1px solid #cfcfcf;
	height: 100%;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: right;
}

.header-profile-section {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 15px; 
	
}

.microphone-wrp {
	height: 60%;
	width: 4%;
	display: flex;
	align-items: center;
	color: black;
	justify-content: center;
}

.microphone-wrp:hover {
	color: #BEBEBD;
}
.bell-wrapper {
	cursor: pointer;
	width: auto;
	height: 100%;
	color: #b6c0cf;
	display: flex;
    align-items: center;
	justify-content: space-around;
	margin-right: 18px;
}

.bell-wrapper:hover {
	color: black;
}

.bell-icon {
	font-size: 1em;
}
	/* background-color: #fe8407; */
.profile-logo {
	background-color: #f8991c;
	height: 30px;
	width: 30px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.profile-logo:hover {
	background-color: #fe8407;
}

.profile-logo-icon {
	color: white;
	font-size: 17px;
}


.user-menu {
	position: absolute;
	width: 130px;
	right: 0;
	top: 33px;
	transform: translate(0%, -200%);
	padding: 5px 15px 0px 15px;
	background: white;
	box-shadow: 0 0 10px rgba(75, 85, 104, 0.2);
	opacity: 0;
}
 
.user-menu-list {
	list-style-type: none;
	font-size: 13px;
	padding: 0px;
	margin-top: -2px;
	font-weight: bolder;
	margin-bottom: 6px;
}
  
.user-menu-list li {
	padding: 4px;
	transition: 0.6s;
	cursor: pointer;
}

.user-menu-list li:hover {
	background-color: #f4f7fd;
}

.user-menu-list a,
 .user-menu-list a:visited {
	text-decoration: none;
	color: #212327;
	display: block;
}

.user-name {
	color: #a3a7ab;
	font-size: 12px;
	line-height: 6px;
	text-align: center;
	padding-top: 7px;
	cursor: default;
}

@keyframes menu-appear {
	from { opacity: 0; }
	to {opacity: 1; }
}

@keyframes header-top-appear {
	  from { top: -70px; }
	  to { top: 0px; }
}

@media all and (max-width: 965px) {
	.bsa-logo {
		margin-left: var(--mobile-indent);
	}

	.header-profile-section {
		margin-right: var(--mobile-indent);
	}
}