:root {
	--indent: 125px;
	--mobile-indent: 30px;
	--font-unit: 1vw;
}

html {
	scrollbar-color:#ffffff white;
	scrollbar-width: auto;
}

body {
	background-color: #ffffff;
	font-family: Arial;
	display: flex;
	min-height: 100vh;
	margin: 0;
	flex-direction: column;
}